/venv
**/__pycache__/
/ignore/
.log

# Configuración de entorno
.env
.env.*

# Node.js 
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Docker
docker-compose.override.yml
**/.dockerignore
**/Dockerfile
**/docker-compose.yml
docker-compose/