/* src/RedesSociales/MastodonApi/InsertarMastodon.css */
/* .insertar-mastodon-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.insertar-mastodon-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.insertar-mastodon-container .btn-primary {
  display: block;
  width: 100%;
}

.mastodon-form {
max-width: 600px;
margin: auto;
}

.field-description {
font-size: 0.875rem;
color: #6c757d;
}

.loading-overlay {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(255, 255, 255, 0.7);
display: flex;
align-items: center;
justify-content: center;
z-index: 1000; */
/*flex-direction: column;  Add this to center the cancel button below the spinner */
/* }

.cancel-button {
margin-top: 20px;
padding: 10px 24px;
font-size: 18px;
border-radius: 24px;
} */
